#navbarTop {
  max-width: 100%;
  height: 90px;
  background-color: #124547;
  display: flex;
  flex-direction: column;
  align-items: center;
  .navbarTop_container {
    max-width: 85%;
    width: 100%;
    display: flex;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    &_logo {
      width: 200px;
      height: 100px;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
    &_icons {
      display: flex;
      align-items: center;

      .date {
        border-right: #427f81 1px solid;
        padding: 5px 12px;

        display: flex;
        flex-direction: column;
        &_top {
          color: white;
          display: flex;
          font-size: 22px;
          gap: 10px;
          i {
            color: #e5936b;
            font-size: 22px;
          }
        }
        &_bottom {
          font-size: 13px;
          color: #6f8e8f;
        }
      }
      .call {
        border-right: #427f81 1px solid;

        padding: 5px 12px;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
        &_top {
          color: white;
          display: flex;
          font-size: 22px;
          gap: 10px;
          i {
            font-size: 22px;
            color: #e5936b;
          }
        }
        &_bottom {
          font-size: 13px;
          color: #6f8e8f;
        }
      }
      .sIcons {
        border-right: #427f81 1px solid;

        padding: 5px 12px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 10px;
        align-items: center;
        i {
          cursor: pointer;
          font-size: 22px;
          color: white;
        }
        p {
          font-size: 13px;
          color: #6f8e8f;
        }
      }
      .menu {
        display: none;
        color: white;
        font-size: 24px;
        cursor: pointer;
        transition: 300ms;
        &:hover {
          color: rgb(218, 216, 216);
        }
      }
    }
  }
  .hidden {
    z-index: 3;
    .hidden_NavbarMain {
      transition: 700ms ease-out;
      overflow: hidden;
      height: 0px;
      max-width:   100vw;
      width:   99vw;


      border: 1px solid;
      background-color: white;
      ul {
        display: flex;
        flex-direction: column;
        a {
          padding: 15px 25px;
          text-wrap: nowrap;
          display: flex;
          justify-content: space-between;
          border-bottom: 1px solid lightgray;
          i {
            color: #e5936b;
          }
        }
      }
    }
  }
  
}
.show_hidden_NavbarMain {
    height: 336px !important;

  }
@media (max-width: 991.98px) {
  .date {
    display: none !important;
  }

  .call {
    display: none !important;
  }
  .sIcons {
    display: none !important;
  }
  .menu {
    display: block !important;
  }
  .navbarTop_container {
    justify-content: space-between !important;
  }
  .hidden_NavbarMain {
    display: block !important;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 768px) and (max-width: 1199.98px) {
  .date {
    &_top {
      font-size: 17px !important;
      i {
        font-size: 20px !important;
      }
    }
    &_bottom {
      font-size: 10px !important;
    }
  }

  .call {
    &_top {
      font-size: 17px !important;
      i {
        font-size: 20px !important;
      }
    }
    &_bottom {
      font-size: 10px !important;
    }
  }
  .sIcons {
    i {
      cursor: pointer;
      font-size: 20px !important;
    }
    p {
      font-size: 10px !important;
    }
  }
}
